{% extends 'base.html.twig' %}

{% block title %}Entretien professionnel en cours{% endblock %}

{% block interview_item %}active{% endblock %}
{% block interviewInProgress %}active{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/interviews/interview_progress/pi_in_progress.js') }}"></script>
    <script src="{{ asset('js/interviews/interview_progress/second_signature.js') }}"></script>

{% endblock %}

{% block body %}

    {# breadcrumbs #}
    <div class="row wrapper border-bottom white-bg page-heading margin-bottom-30">
        <div class="col-sm-12">
            <h2>Entretien professionnel - {{ pi.employee.fullname }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('interview_in_progress_list') }}">Entretiens en cours</a>
                </li>
                <li class="active">
                    <a href="{{ path('interview_pro_in_progress_p1', {id: pi.id}) }}">Informations</a>
                </li>
                <li class="active">
                    <a href="{{ path('interview_pro_in_progress_p2', {id: pi.id}) }}">Plan individuel</a>
                </li>
                <li class="active">
                    <strong>Signature</strong>
                </li>
            </ol>
        </div>
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins border-bottom">
                <div class="ibox-title">
                    <h5>Manager</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Nom du manager</label>
                                <input type="text" value="{{ app.user.fullname }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Avis du manager dans le cadre de ce projet</label>
                                {{ form_widget(form.managerOpinion, {'attr': {'class': 'form-control'}}) }}
                                {{ form_widget(form.managerSignature) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Date de signature</label>
                                <input type="text" value="{{ dateNow | date('d/m/Y') }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Signature</label>
                                <div class="signature-zone">
                                    <canvas id="canvas" width="400" height="175"></canvas>
                                </div>
                                <div id="error_first_canvas" class="error-field-txt">La signature est obligatoire</div>
                                <a class="btn btn-default btn-facebook btn-outline" id="clear_canvas">
                                    <i class="fa fa-edit"> </i> Effacer la signature
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins border-bottom">
                <div class="ibox-title">
                    <h5>Salarié</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Appréciation du salarié</label>
                                {{ form_widget(form.employeeOpinion, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Date de signature</label>
                                <input type="text" value="{{ pi.employeeDateSignature | date('d/m/Y') }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Signature</label>
                                <img class="img-responsive" src="{{ pi.employeeSignature }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-lg-12">
            <div class="ibox float-e-margins border-bottom">
                <div class="ibox-title">
                    <h5>
                        Hiérarchique N+2
                        <label class="switch">
                            {{ form_widget(form.acceptSecondManager) }}
                            <span class="slider"></span>
                        </label>
                    </h5>
                </div>
                <div class="ibox-content">
                    <div id="display_second_manager" {% if pi.acceptSecondManager == false %}style="display: none;" {% endif %}>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Nom du N+2</label>
                                    {{ form_widget(form.secondManage, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Date de signature</label>
                                    <input type="text" value="{{ dateNow | date('d/m/Y') }}" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form.secondManagerSignature) }}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Signature</label>
                                    <div class="signature-zone">
                                        <canvas id="second_canvas" width="400" height="175"></canvas>
                                    </div>
                                    <div id="error_second_canvas" class="error-field-txt">La signature est obligatoire</div>
                                    <a class="btn btn-default btn-facebook btn-outline" id="clear_second_canvas">
                                        <i class="fa fa-edit"> </i> Effacer la signature
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="display: none">
                        {{ form_rest(form, {'render_rest': false}) }}
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group text-right">
                                <button id="open_popup_pi" type="button" class="btn btn-primary right">Valider l'entretien</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}


    {# modal validation entretien #}
    <div class="modal inmodal fade" id="popup_validate_pi" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">Fermer</span></button>
                    <h4 class="modal-title">Valider l'entretien</h4>
                </div>
                <div class="modal-body">
                    <p>Vous êtes sur le point de valider cet entretien.</p>
                    <p>
                        Il est recommandé de renseigner la <strong>totalité</strong> des informations demandées pour
                        le bon déroulement de l'entretien.
                    </p>
                    <p>Une fois cet entretien validé, vous ne pourrez plus le modifier.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Retour</button>
                    <button type="button" class="btn btn-primary" id="validate_pi">Valider</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}