<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">

<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Actionable emails e.g. reset password</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            box-sizing: border-box;
            font-size: 14px;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            height: 100%;
            line-height: 1.6;
        }

        table td {
            vertical-align: top;
        }

        body {
            background-color: #f6f6f6;
        }

        .body-wrap {
            background-color: #f6f6f6;
            width: 100%;
        }

        .container {
            display: block !important;
            max-width: 600px !important;
            margin: 0 auto !important;
            /* makes it centered */
            clear: both !important;
        }

        .content {
            max-width: 600px;
            margin: 0 auto;
            display: block;
            padding: 20px;
        }

        .main {
            background: #fff;
            border: 1px solid #e9e9e9;
            border-radius: 3px;
        }

        .content-wrap {
            padding: 20px;
        }

        .content-block {
            padding: 0 0 20px;
        }

        .footer {
            width: 100%;
            clear: both;
            color: #999;
            padding: 20px;
        }
        .footer a {
            color: #999;
        }
        .footer p, .footer a, .footer unsubscribe, .footer td {
            font-size: 12px;
        }

        h3 {
            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            color: #000;
            margin: 40px 0 0;
            line-height: 1.2;
            font-weight: 400;
            font-size: 18px;
        }

        p, ul, ol {
            margin-bottom: 10px;
            font-weight: normal;
        }
        p li, ul li, ol li {
            margin-left: 5px;
            list-style-position: inside;
        }

        a {
            color: #1ab394;
            text-decoration: underline;
        }

        .aligncenter {
            text-align: center;
        }

        .invoice td {
            padding: 5px 0;
        }

        .invoice .invoice-items td {
            border-top: #eee 1px solid;
        }

        .invoice .invoice-items .total td {
            border-top: 2px solid #333;
            border-bottom: 2px solid #333;
            font-weight: 700;
        }

        .desc-reject {
            border-left: 2px solid #ebebeb;
            padding: 5px 5px 5px 10px;
            margin-top: 5px;
        }

        @media only screen and (max-width: 640px) {
            h3 {
                font-size: 16px !important;
                font-weight: 600 !important;
                margin: 20px 0 5px !important;
            }

            .container {
                width: 100% !important;
            }

            .content, .content-wrap {
                padding: 10px !important;
            }
        }
    </style>
</head>

<body>
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content-wrap">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content-block">
                                        Bonjour <strong>{{ working.employee.fullname }}</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        {% set days = working.getDaysInterval() %}
                                        La demande de télétravail que vous avez demandé du {{ working.startAt|date('d/m/Y') }} au
                                        {{ working.endAt|date('d/m/Y') }} a été {{ working.isAccepted ? 'acceptée' : 'refusée' }}
                                        par {{ working.decidedBy.fullname }}.
                                    </td>
                                </tr>
                                {% if working.isAccepted == false %}
                                    <tr>
                                        <td class="content-block">
                                            Voici le motif du refus de la demande de télétravail :
                                            <div class="desc-reject">
                                                {{ working.descriptionWorkingReject|nl2br }}
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="content-block">
                                            Voici le récapitulatif de la demande :
                                            <ul class="task-list">
                                                <li>Date de début : {{ working.startAt|date('d/m/Y') }} {{ working.periodStartAt == 'AM' ? 'Matin' : 'Après-midi' }}</li>
                                                <li>Date de fin : {{ working.endAt|date('d/m/Y') }} {{ working.periodEndAt == 'AM' ? 'Matin' : 'Après-midi' }}</li>
                                                <li>Nombre de jours total : {{ days }} {{ days <= 1 ? 'jour' : 'jours' }}</li>
                                                <li>Compte rendu à faire : {{ working.reportRequest ? 'Oui' : 'Non' }}</li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="content-block">
                                        Cordialement
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block">Flow Line Technologies</td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td></td>
    </tr>
</table>
</body>

</html>
