{% extends 'base.html.twig' %}

{% block title %}Entretien annuel validé{% endblock %}

{% block interview_item %}active{% endblock %}
{% block validatedInterviews %}active{% endblock %}

{% block body %}

    {# breadcrumbs #}
    <div class="row wrapper border-bottom white-bg page-heading margin-bottom-30">
        <div class="col-sm-12">
            <h2>Entretien annuel - {{ ai.employee.fullname }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('interview_validated_list') }}">Entretiens validés</a>
                </li>
                <li>
                    <a href="{{ path('show_interview_annual_validated', {id : ai.id, step: 1}) }}">Informations</a>
                </li>
                <li class="active">
                    <strong>Bilan</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Bilan</h5>
                </div>
                <div class="ibox-content" style="display: block;">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Attendus/Réalisations/Acquis</th>
                                <th>Note</th>
                                <th>Commentaire du collaborateur</th>
                                <th>Commentaire du manager</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for bilan in ai.bilans %}
                                    <tr>
                                        <td>{{ bilan.achievement }}</td>
                                        <td>{{ bilan.grade }}</td>
                                        <td>{{ bilan.commentCollab }}</td>
                                        <td>{{ bilan.commentManager }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Note Moyenne</label>
                                <input type="text" value="{{ ai.bilanAvg }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Environnement de travail</h5>
                </div>
                <div class="ibox-content" style="display: block;">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Commentaire du collaborateur</label>
                                <input type="text" value="{{ ai.commentCollabWorkingEnv }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Commentaire du manager</label>
                                <input type="text" value="{{ ai.commentManagerWorkingEnv }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Points forts</h5>
                </div>
                <div class="ibox-content" style="display: block;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Commentaire du manager</label>
                                <input type="text" value="{{ ai.commentManagerStrongPoints }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Axes d'amélioration</h5>
                </div>
                <div class="ibox-content" style="display: block;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Commentaire du collaborateur</label>
                                <input type="text" value="{{ ai.commentCollabImprovement }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Commentaire du manager</label>
                                <input type="text" value="{{ ai.commentManagerImprovement }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group text-right">
                                <a href="{{ path('show_interview_annual_validated', {id : ai.id, step: 3}) }}">
                                    <button class="btn btn-primary" type="button">Etape suivant</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}