{% extends 'base.html.twig' %}

{% block title %}Entretien professionnel validé{% endblock %}

{% block interview_item %}active{% endblock %}
{% block validatedInterviews %}active{% endblock %}

{% block body %}

    {# breadcrumbs #}
    <div class="row wrapper border-bottom white-bg page-heading margin-bottom-30">
        <div class="col-sm-12">
            <h2>Entretien professionnel - {{ pi.employee.fullname }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('interview_validated_list') }}">Entretiens validés</a>
                </li>
                <li>
                    <a href="{{ path('show_interview_pro_validated', {id : pi.id, step: 1}) }}">Informations</a>
                </li>
                <li class="active">
                    <strong>Plan individuel</strong>
                </li>
            </ol>
        </div>
    </div>

    {# form #}
    <div class="row margin-bottom-30">
        <div class="col-lg-12">
            <div class="ibox float-e-margins border-bottom">
                <div class="ibox-title">
                    <h5>Plan individuel</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Evolution sur poste actuel (détail)</label>
                                <textarea class="form-control" disabled>{{ pi.evolutionCurentPositionDesc }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Evolution sur poste actuel (délai envisagé)</label>
                                <textarea class="form-control" disabled>{{ pi.evolutionCurrentPositionExpectedTime }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Changement de poste/metier (détail)</label>
                                <textarea class="form-control" disabled>{{ pi.changePositionDesc }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Changement de poste/metier (délai envisagé)</label>
                                <textarea class="form-control" disabled>{{ pi.changePositionExpectedTime }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Compétences, connaissances, savoir-faire à acquérir et/ou à développer</label>
                                <input type="text" value="{{ pi.skills }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Actions envisagées</label>
                                <input type="text" value="{{ pi.actionEnvisaged }}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Formation souhaitées dans le cadre de ce projet :</label>
                            <label class="switch">
                                <input type="checkbox" {% if pi.formationWishes %}checked{% endif %} disabled>
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                    <div class="formation-wishes" {% if pi.formationWishes == true %}style="display: block" {% endif %}>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Type de formation</label>
                                    <textarea class="form-control" disabled>{{ pi.formationWishesType }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Description formation</label>
                                    <textarea class="form-control" disabled>{{ pi.formationWishesDesc }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Délai envisagé</label>
                                    <textarea class="form-control" disabled>{{ pi.formationWishesExpectedTime }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Mobilité géographique :</label>
                            <label class="switch">
                                <input type="checkbox" {% if pi.geographicMobility %}checked{% endif %} disabled>
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>

                    <div class="geographic-mobility" {% if pi.geographicMobility == true %}style="display: block" {% endif %}>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Mobilité géographique (localisation)</label>
                                    <textarea class="form-control" disabled>{{ pi.geographicMobilityLocation }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Mobilité géographique (délai envisagé)</label>
                                    <textarea class="form-control" disabled>{{ pi.geographicMobilityExpectedTime }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Mobilité groupe (localisation)</label>
                                <textarea class="form-control" disabled>{{ pi.groupMobilityLocation }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Mobilité groupe (délai envisagé)</label>
                                <textarea class="form-control" disabled>{{ pi.groupMobilityExpectedTime }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group text-right">
                                <a href="{{ path('show_interview_pro_validated', {id : pi.id, step: 3}) }}">
                                    <button class="btn btn-primary" type="button">Etape suivante</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}